@model Practice_WebApp.Models.CLIENT  

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index12</title>
</head>
<body>
    <div>
        @Html.ActionLink("Click me","Index14",new {id="Jk",@class="css"});
        @Html.TextArea("Hello","jeet");
    </div>
    <div>
        <a href="/Home/Index14">Home 1</a>
        <a href="/Home/Index12">Home 2</a>
        <a href="/Home/Index15?a=1&s=abc">Home 3</a>
    </div>
    <h1>Id - @Model.Id</h1>
    <h1>Name - @Model.Name</h1>
    <h1>Address - @Model.Address</h1>

</body>
</html>
